{
  "shopify": {
    "store_url": "https: //atozstr.myshopify.com/",
    "api_key": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "password": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  },
  "redshift": {
    "db_name": "dev",
    "host": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "port": "5439",
    "user": "XXXXXXXXXXXXXXXXXX",
    "password": "XXXXXXXXXXXXXXXXXXXXX"
  }
}
