{
  "shopify": {
    "store_url": "https: //atozstr.myshopify.com/",
    "api_key": "fb74ba8fa10467abbcfca0b4688e50a7",
    "password": "9a588e860d436c1ec16e588f20880bc1"
  },
  "redshift": {
    "db_name": "dev",
    "host": "redshift-cluster-1.ck3k11g4ncwo.us-east-2.redshift.amazonaws.com",
    "port": "5439",
    "user": "awsuser",
    "password": "Test123..."
  }
}